<ion-view view-title="Cafe Avenue">
      <ion-content>
          <div class="row">
              <div class="bar bar-header transparente">

              </div>
          </div>
          <div class="row">
            <div class="col col-47"></div>
            <div class="col col-10">
                  <img src="img/Kaffe-img/-_prev-coffee%201.png" class="coffe-prev">
            </div>
            <div class="col col-46"></div>
          </div>
          <div>
              <p class="cafe">Cafe Avenue</p>
          </div>
          <div>
              <img src="img/Kaffe-img/-_Rating%204%20stars.png" class="stars4">
          </div>
          <p class="startext">0.3 mi</p>
          <hr class="interval">
          <div class="row row-center">
              <div class="col col-20">
                  <img src="img/Kaffe-img/-_ic-wifi.png" class="images"><p>WIFI</p>
              </div>
              <div class="col col-33">
                  <img src="img/Kaffe-img/-_ic-drivethru.png" class="images"><p>Drive-Thru</p>
              </div>
          </div>
          <div class="row row-center">
              <div class="col col-20">
                  <img src="img/Kaffe-img/-_ic-parking.png" class="images"><p>Parking</p>
              </div>
              <div class="col col-33">
                  <img src="img/Kaffe-img/-_ic-delivery.png" class="images"><p>Delivery</p>
              </div>
         </div>
          </br></br>
          <!--<hr>-->
          <div class="cuadro-orden">
              <img src="img/Kaffe-img/-_button-go-order.png" class="button-order"><p class="order">Order</p>
              </br>
              <p class="hora">3467 Coffee Ave.90807</p>
              </br>
              <p class="hora">Los Angeles, CA.</p>
          </div>
          <!--<hr>-->
         <div class="cuadro-open">
             </br>
             <div class="row">
                 <div class="col col-33 hora">Mon-Sun</div> 
                 <div class="col col-50 hora">5:00am-10:00pm</div>
                 <div class="col">
                     <p class="open">OPEN</p>
                 </div>
             </div>
         </div>
         <div class="cuadro-friends">
             </br>
            <p class="hora">Friends ho had visited</p>
            <div>
                <img src="img/Kaffe-img/-_profile-friend 2.png" class="friend1">
                <p>Jane Doe</p>
            </div>
        </div>
         <div class="cuadro-reviews"></div>
         <div class="bar bar-footer final"></div>
      </ion-content>
</ion-view>
