/* Empty. Add your own CSS if you like */
ion-content {
background: url(-gallery-2-2.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.back{
    width: 10px;
    height: 20px;
    margin-top: 4px;
    margin-left: 10px;
}

.transparente{
    background-color: transparent;
    border-color: transparent;
}

.cart{
    width: 25px;
    height: 20px;
    margin-top: 6px;
}

.coffe-prev{
    width: 90px;
    height: 90px;
    margin-left: -30px;
}

.cafe{
    text-align: center;
    font-size: 28px;
    color: white;
    font-family: sans-serif;
}

.stars4{
    width: 155px;
    margin: 0em 28%;
}

.startext{
    color: white;
    text-align: center;
    font-family: sans-serif;
}

.images{
    width: 25px;
    height: 25px;
}

p{
    color: white;
}

.interval{
    border-color: #d3d4d5;
    width: 240px;
    height: 0.5;
}

.cuadro-orden{
    width: 500x;
    height: 120px;
    background: #191918;
    /*margin-top: -6.6px;*/
}

/*hr{
    border-color: #414042;
}*/

.button-order{
    width: 60px;
    height: 60px;
    margin-left: 140px;
    margin-top: -30px;
}

.order{
    text-align: center;
    margin-top: -45px;
}

.cuadro-open{
    width: 500x;
    height: 70px;
    background: #1d1d1d;
}

.cuadro-friends{
    width: 500x;
    height: 150px;
    background: #191918;
}

.cuadro-reviews{
    width: 500px;
    height: 250px;
    background-color: #1d1d1d;
}

.final{
    background-color: #1d1d1d;
}

.hora{
    display: inline-block;
    color: darkgray;
    font-size: 17px;
}

.bar-dark{
    background-color: transparent;
}

.Mybasket{
    width: 500x;
    height: 5900px;
    background: #1d1d1d;
}

.Basket{
    width: 33px;
    height: 25px;
    margin-left: 120px;
    margin-top: 15px;
}

h4{
    color: white;
    text-align: center;
}

.bar .bar-dark{
    text-align: center;
}

.open{
    display: inline-block;
    border: 1px solid orangered;
    border-color: orangered;
    text-align: center;
    color: orangered;

}

.friend1{
    width: 60px;
    height: 60px;
}
